<h1>Création d'un compte</h1>
<form>
		<label for="pseudo">Pseudo</label><input type="text"><br/><br/>
		<label for="password">Mot de passe</label><input type="password"><br/><br/>
		<label for="mail">Mail</label><input type="text"><br/><br/>
		<label for="city">Ville</label><input type="text"><br/><br/>
		<label for="address">Adresse</label><input type="text"><br/><br/>
		<label for="zipCode">Code postal</label><input type="text"><br/><br/>
	<br>
	<button (click)="createAccount()">Créer compte</button>
</form>

<h1>Connexion à compte</h1>
<form>
		<label for="pseudo">Pseudo</label><input type="text"><br/><br/>
		<label for="password">Mot de passe</label><input type="password"><br/><br/>
	<br>
	<button (click)="login()">Créer compte</button>
</form>

<form name="myForm" ng-submit="foo()" novalidate>
    <label>Prénom : </label>
    <input name="prenom" type="text" required ng-minlength="2" ng-maxlength="20" />
    <input type="submit" value="Envoyer" />
</form>